:root, [data-bs-theme=light] {
  --bs-primary: #f80752;
  --bs-primary-rgb: 248,7,82;
  --bs-primary-text-emphasis: #630321;
  --bs-primary-bg-subtle: #FECDDC;
  --bs-primary-border-subtle: #FC9CBA;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f80752;
  --bs-btn-border-color: #f80752;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F92C6C;
  --bs-btn-hover-border-color: #F92063;
  --bs-btn-focus-shadow-rgb: 37,1,12;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F93975;
  --bs-btn-active-border-color: #F92063;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f80752;
  --bs-btn-disabled-border-color: #f80752;
}

.btn-outline-primary {
  --bs-btn-color: #f80752;
  --bs-btn-border-color: #f80752;
  --bs-btn-focus-shadow-rgb: 248,7,82;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f80752;
  --bs-btn-hover-border-color: #f80752;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f80752;
  --bs-btn-active-border-color: #f80752;
  --bs-btn-disabled-color: #f80752;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f80752;
}

[data-bs-theme=dark] {
  --bs-light: #e6e6e6;
  --bs-light-rgb: 230,230,230;
  --bs-light-text-emphasis: #F0F0F0;
  --bs-light-bg-subtle: #2E2E2E;
  --bs-light-border-subtle: #8A8A8A;
  --bs-dark: #14121f;
  --bs-dark-rgb: 20,18,31;
  --bs-dark-text-emphasis: #727179;
  --bs-dark-bg-subtle: #040406;
  --bs-dark-border-subtle: #0C0B13;
  --bs-body-color: #e6e6e6;
  --bs-body-color-rgb: 230,230,230;
  --bs-secondary-color: rgba(230,230,230,0.75);
  --bs-secondary-color-rgb: 230,230,230,0.75;
  --bs-tertiary-color: rgba(230,230,230,0.5);
  --bs-tertiary-color-rgb: 230,230,230,0.5;
  --bs-body-bg: #14121f;
  --bs-body-bg-rgb: 20,18,31;
  --bs-border-width: 1px;
}

[data-bs-theme=dark] .btn-light, .btn-light[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #e6e6e6;
  --bs-btn-border-color: #e6e6e6;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C4C4C4;
  --bs-btn-hover-border-color: #B8B8B8;
  --bs-btn-focus-shadow-rgb: 35,35,35;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B8B8B8;
  --bs-btn-active-border-color: #ADADAD;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #e6e6e6;
  --bs-btn-disabled-border-color: #e6e6e6;
}

[data-bs-theme=dark] .btn-outline-light, .btn-outline-light[data-bs-theme=dark] {
  --bs-btn-color: #e6e6e6;
  --bs-btn-border-color: #e6e6e6;
  --bs-btn-focus-shadow-rgb: 230,230,230;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #e6e6e6;
  --bs-btn-hover-border-color: #e6e6e6;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #e6e6e6;
  --bs-btn-active-border-color: #e6e6e6;
  --bs-btn-disabled-color: #e6e6e6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e6e6e6;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #14121f;
  --bs-btn-border-color: #14121f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #110F1A;
  --bs-btn-hover-border-color: #100E19;
  --bs-btn-focus-shadow-rgb: 220,219,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #100E19;
  --bs-btn-active-border-color: #0F0E17;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #14121f;
  --bs-btn-disabled-border-color: #14121f;
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: #14121f;
  --bs-btn-border-color: #14121f;
  --bs-btn-focus-shadow-rgb: 20,18,31;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #14121f;
  --bs-btn-hover-border-color: #14121f;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #14121f;
  --bs-btn-active-border-color: #14121f;
  --bs-btn-disabled-color: #14121f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #14121f;
}

